@charset "utf-8";
/* CSS Document */

div.main {
	width:1006px;
	margin:auto;
	background-color:#819191;
}

div.white {
	width:940px;
	margin:auto;
	background-color:#FFFFFF;	
}

body {
	background-color:#819191; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	margin-right: 0px;	
}

.myButtonLink1 {
	display: block;
	width: 54px;
	height: 16px;
	background: url(images/menu-1.png) bottom;
	text-indent: -99999px;
}
.myButtonLink1:hover {
	background-position: 0 0;
}

.myButtonLink2 {
	display: block;
	width: 167px;
	height: 16px;
	background: url(images/menu-2.png) bottom;
	text-indent: -99999px;
}
.myButtonLink2:hover {
	background-position: 0 0;
}

.myButtonLink3 {
	display: block;
	width: 104px;
	height: 16px;
	background: url(images/menu-3.png) bottom;
	text-indent: -99999px;
}
.myButtonLink3:hover {
	background-position: 0 0;
}

.myButtonLink4 {
	display: block;
	width: 109px;
	height: 16px;
	background: url(images/menu-4.png) bottom;
	text-indent: -99999px;
}
.myButtonLink4:hover {
	background-position: 0 0;
}

.myButtonLink5 {
	display: block;
	width: 135px;
	height: 16px;
	background: url(images/menu-5.png) bottom;
	text-indent: -99999px;
}
.myButtonLink5:hover {
	background-position: 0 0;
}

.myButtonLink6 {
	display: block;
	width: 62px;
	height: 16px;
	background: url(images/menu-6.png) bottom;
	text-indent: -99999px;
}
.myButtonLink6:hover {
	background-position: 0 0;
}

.myButtonLink7 {
	display: block;
	width: 118px;
	height: 16px;
	background: url(images/menu-7.png) bottom;
	text-indent: -99999px;
}
.myButtonLink7:hover {
	background-position: 0 0;
}
