@charset "utf-8";
/* CSS Document */

div.a-Table_01 {
	position:relative;
	margin:auto;
	width:940px;
	height:170px;
}

div.a-portfolio-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:313px;
	height:34px;
}

div.a-portfolio-02 {
	position:absolute;
	left:313px;
	top:0px;
	width:314px;
	height:34px;
}

div.a-portfolio-03 {
	position:absolute;
	left:627px;
	top:0px;
	width:313px;
	height:34px;
}

div.a-portfolio-04 {
	position:absolute;
	left:0px;
	top:34px;
	width:313px;
	height:34px;
}

div.a-portfolio-05 {
	position:absolute;
	left:313px;
	top:34px;
	width:314px;
	height:34px;
}

div.a-portfolio-06 {
	position:absolute;
	left:627px;
	top:34px;
	width:313px;
	height:34px;
}

div.a-portfolio-07 {
	position:absolute;
	left:0px;
	top:68px;
	width:217px;
	height:34px;
}

div.a-portfolio-08 {
	position:absolute;
	left:217px;
	top:68px;
	width:517px;
	height:34px;
}

div.a-portfolio-09 {
	position:absolute;
	left:734px;
	top:68px;
	width:206px;
	height:34px;
}

div.a-portfolio-10 {
	position:absolute;
	left:0px;
	top:102px;
	width:313px;
	height:34px;
}

div.a-portfolio-11 {
	position:absolute;
	left:313px;
	top:102px;
	width:314px;
	height:34px;
}

div.a-portfolio-12 {
	position:absolute;
	left:627px;
	top:102px;
	width:313px;
	height:34px;
}

div.a-portfolio-13 {
	position:absolute;
	left:0px;
	top:136px;
	width:940px;
	height:11px;
}

div.a-portfolio-14 {
	position:absolute;
	left:0px;
	top:147px;
	width:23px;
	height:16px;
}

div.a-portfolio-15 {
	position:absolute;
	left:23px;
	top:147px;
	width:54px;
	height:16px;
}

div.a-portfolio-16 {
	position:absolute;
	left:77px;
	top:147px;
	width:26px;
	height:16px;
}

div.a-portfolio-17 {
	position:absolute;
	left:103px;
	top:147px;
	width:167px;
	height:16px;
}

div.a-portfolio-18 {
	position:absolute;
	left:270px;
	top:147px;
	width:23px;
	height:16px;
}

div.a-portfolio-19 {
	position:absolute;
	left:293px;
	top:147px;
	width:104px;
	height:16px;
}

div.a-portfolio-20 {
	position:absolute;
	left:397px;
	top:147px;
	width:28px;
	height:16px;
}

div.a-portfolio-21 {
	position:absolute;
	left:425px;
	top:147px;
	width:109px;
	height:16px;
}

div.a-portfolio-22 {
	position:absolute;
	left:534px;
	top:147px;
	width:22px;
	height:16px;
}

div.a-portfolio-23 {
	position:absolute;
	left:556px;
	top:147px;
	width:135px;
	height:16px;
}

div.a-portfolio-24 {
	position:absolute;
	left:691px;
	top:147px;
	width:25px;
	height:16px;
}

div.a-portfolio-25 {
	position:absolute;
	left:716px;
	top:147px;
	width:62px;
	height:16px;
}

div.a-portfolio-26 {
	position:absolute;
	left:778px;
	top:147px;
	width:24px;
	height:16px;
}

div.a-portfolio-27 {
	position:absolute;
	left:802px;
	top:147px;
	width:118px;
	height:16px;
}

div.a-portfolio-28 {
	position:absolute;
	left:920px;
	top:147px;
	width:20px;
	height:16px;
}

div.a-portfolio-29 {
	position:absolute;
	left:0px;
	top:163px;
	width:940px;
	height:7px;
}