@charset "utf-8";
/* CSS Document */

div.Table_01 {
	position:relative;
	margin:auto;
	width:934px;
	height:1743px;
}

div.portfolio-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:934px;
	height:46px;
}

div.portfolio-02 {
	position:absolute;
	left:0px;
	top:46px;
	width:149px;
	height:119px;
}

div.portfolio-03 {
	position:absolute;
	left:149px;
	top:46px;
	width:149px;
	height:119px;
}

div.portfolio-04 {
	position:absolute;
	left:298px;
	top:46px;
	width:342px;
	height:237px;
}

div.portfolio-05 {
	position:absolute;
	left:640px;
	top:46px;
	width:147px;
	height:119px;
}

div.portfolio-06 {
	position:absolute;
	left:787px;
	top:46px;
	width:147px;
	height:119px;
}

div.portfolio-07 {
	position:absolute;
	left:0px;
	top:165px;
	width:149px;
	height:118px;
}

div.portfolio-08 {
	position:absolute;
	left:149px;
	top:165px;
	width:149px;
	height:118px;
}

div.portfolio-09 {
	position:absolute;
	left:640px;
	top:165px;
	width:147px;
	height:118px;
}

div.portfolio-10 {
	position:absolute;
	left:787px;
	top:165px;
	width:147px;
	height:118px;
}

div.portfolio-11 {
	position:absolute;
	left:0px;
	top:283px;
	width:934px;
	height:16px;
}

div.portfolio-12 {
	position:absolute;
	left:0px;
	top:299px;
	width:118px;
	height:230px;
}

div.portfolio-13 {
	position:absolute;
	left:118px;
	top:299px;
	width:337px;
	height:230px;
}

div.portfolio-14 {
	position:absolute;
	left:455px;
	top:299px;
	width:20px;
	height:230px;
}

div.portfolio-15 {
	position:absolute;
	left:475px;
	top:299px;
	width:345px;
	height:230px;
}

div.portfolio-16 {
	position:absolute;
	left:820px;
	top:299px;
	width:114px;
	height:230px;
}

div.portfolio-17 {
	position:absolute;
	left:0px;
	top:529px;
	width:934px;
	height:20px;
}

div.portfolio-18 {
	position:absolute;
	left:0px;
	top:549px;
	width:118px;
	height:229px;
}

div.portfolio-19 {
	position:absolute;
	left:118px;
	top:549px;
	width:337px;
	height:229px;
}

div.portfolio-20 {
	position:absolute;
	left:455px;
	top:549px;
	width:20px;
	height:229px;
}

div.portfolio-21 {
	position:absolute;
	left:475px;
	top:549px;
	width:345px;
	height:229px;
}

div.portfolio-22 {
	position:absolute;
	left:820px;
	top:549px;
	width:114px;
	height:229px;
}

div.portfolio-23 {
	position:absolute;
	left:0px;
	top:778px;
	width:934px;
	height:20px;
}

div.portfolio-24 {
	position:absolute;
	left:0px;
	top:798px;
	width:118px;
	height:229px;
}

div.portfolio-25 {
	position:absolute;
	left:118px;
	top:798px;
	width:337px;
	height:229px;
}

div.portfolio-26 {
	position:absolute;
	left:455px;
	top:798px;
	width:20px;
	height:229px;
}

div.portfolio-27 {
	position:absolute;
	left:475px;
	top:798px;
	width:345px;
	height:229px;
}

div.portfolio-28 {
	position:absolute;
	left:820px;
	top:798px;
	width:114px;
	height:229px;
}

div.portfolio-29 {
	position:absolute;
	left:0px;
	top:1027px;
	width:934px;
	height:22px;
}

div.portfolio-30 {
	position:absolute;
	left:0px;
	top:1049px;
	width:118px;
	height:234px;
}

div.portfolio-31 {
	position:absolute;
	left:118px;
	top:1049px;
	width:337px;
	height:234px;
}

div.portfolio-32 {
	position:absolute;
	left:455px;
	top:1049px;
	width:20px;
	height:234px;
}

div.portfolio-33 {
	position:absolute;
	left:475px;
	top:1049px;
	width:345px;
	height:234px;
}

div.portfolio-34 {
	position:absolute;
	left:820px;
	top:1049px;
	width:114px;
	height:234px;
}

div.portfolio-35 {
	position:absolute;
	left:0px;
	top:1283px;
	width:934px;
	height:25px;
}

div.portfolio-36 {
	position:absolute;
	left:0px;
	top:1308px;
	width:118px;
	height:231px;
}

div.portfolio-37 {
	position:absolute;
	left:118px;
	top:1308px;
	width:337px;
	height:231px;
}

div.portfolio-38 {
	position:absolute;
	left:455px;
	top:1308px;
	width:20px;
	height:231px;
}

div.portfolio-39 {
	position:absolute;
	left:475px;
	top:1308px;
	width:345px;
	height:231px;
}

div.portfolio-40 {
	position:absolute;
	left:820px;
	top:1308px;
	width:114px;
	height:231px;
}

div.portfolio-41 {
	position:absolute;
	left:0px;
	top:1539px;
	width:187px;
	height:102px;
}

div.portfolio-42 {
	position:absolute;
	left:187px;
	top:1539px;
	width:187px;
	height:102px;
}

div.portfolio-43 {
	position:absolute;
	left:374px;
	top:1539px;
	width:186px;
	height:102px;
}

div.portfolio-44 {
	position:absolute;
	left:560px;
	top:1539px;
	width:187px;
	height:102px;
}

div.portfolio-45 {
	position:absolute;
	left:747px;
	top:1539px;
	width:187px;
	height:102px;
}

div.portfolio-46 {
	position:absolute;
	left:0px;
	top:1641px;
	width:187px;
	height:102px;
}

div.portfolio-47 {
	position:absolute;
	left:187px;
	top:1641px;
	width:187px;
	height:102px;
}

div.portfolio-48 {
	position:absolute;
	left:374px;
	top:1641px;
	width:186px;
	height:102px;
}

div.portfolio-49 {
	position:absolute;
	left:560px;
	top:1641px;
	width:187px;
	height:102px;
}

div.portfolio-50 {
	position:absolute;
	left:747px;
	top:1641px;
	width:187px;
	height:102px;
}

#loading {
    position: absolute;
	width: 100%;
	height: 100%;
	background: url('images/loading_spinner.gif') no-repeat center center;
}