@charset "utf-8";
/* CSS Document */

div.b-Table_01 {
	position:relative;
	left:0px;
	top:647px;/*325px;*/
	width:940px;
	height:23px;
}

div.b-media-14 {
	position:absolute;
	left:0px;
	top:auto;
	width:23px;
	height:16px;
}

div.b-media-15 {
	position:absolute;
	left:23px;
	top:auto;
	width:54px;
	height:16px;
}

div.b-media-16 {
	position:absolute;
	left:77px;
	top:auto;
	width:26px;
	height:16px;
}

div.b-media-17 {
	position:absolute;
	left:103px;
	top:auto;
	width:167px;
	height:16px;
}

div.b-media-18 {
	position:absolute;
	left:270px;
	top:auto;
	width:23px;
	height:16px;
}

div.b-media-19 {
	position:absolute;
	left:293px;
	top:auto;
	width:104px;
	height:16px;
}

div.b-media-20 {
	position:absolute;
	left:397px;
	top:auto;
	width:28px;
	height:16px;
}

div.b-media-21 {
	position:absolute;
	left:425px;
	top:auto;
	width:109px;
	height:16px;
}

div.b-media-22 {
	position:absolute;
	left:534px;
	top:auto;
	width:22px;
	height:16px;
}

div.b-media-23 {
	position:absolute;
	left:556px;
	top:auto;
	width:135px;
	height:16px;
}

div.b-media-24 {
	position:absolute;
	left:691px;
	top:auto;
	width:25px;
	height:16px;
}

div.b-media-25 {
	position:absolute;
	left:716px;
	top:auto;
	width:62px;
	height:16px;
}

div.b-media-26 {
	position:absolute;
	left:778px;
	top:auto;
	width:24px;
	height:16px;
}

div.b-media-27 {
	position:absolute;
	left:802px;
	top:auto;
	width:118px;
	height:16px;
}

div.b-media-28 {
	position:absolute;
	left:920px;
	top:auto;
	width:20px;
	height:16px;
}

div.b-media-29 {
	position:absolute;
	left:0px;
	top:16px;
	width:940px;
	height:7px;
}