@charset "utf-8";
/* CSS Document */

div.b-Table_01 {
	position:relative;
	margin:auto;
	width:940px;
	height:23px;
}

div.b-portfolio-14 {
	position:absolute;
	left:0px;
	top:auto;
	width:23px;
	height:16px;
}

div.b-portfolio-15 {
	position:absolute;
	left:23px;
	top:auto;
	width:54px;
	height:16px;
}

div.b-portfolio-16 {
	position:absolute;
	left:77px;
	top:auto;
	width:26px;
	height:16px;
}

div.b-portfolio-17 {
	position:absolute;
	left:103px;
	top:auto;
	width:167px;
	height:16px;
}

div.b-portfolio-18 {
	position:absolute;
	left:270px;
	top:auto;
	width:23px;
	height:16px;
}

div.b-portfolio-19 {
	position:absolute;
	left:293px;
	top:auto;
	width:104px;
	height:16px;
}

div.b-portfolio-20 {
	position:absolute;
	left:397px;
	top:auto;
	width:28px;
	height:16px;
}

div.b-portfolio-21 {
	position:absolute;
	left:425px;
	top:auto;
	width:109px;
	height:16px;
}

div.b-portfolio-22 {
	position:absolute;
	left:534px;
	top:auto;
	width:22px;
	height:16px;
}

div.b-portfolio-23 {
	position:absolute;
	left:556px;
	top:auto;
	width:135px;
	height:16px;
}

div.b-portfolio-24 {
	position:absolute;
	left:691px;
	top:auto;
	width:25px;
	height:16px;
}

div.b-portfolio-25 {
	position:absolute;
	left:716px;
	top:auto;
	width:62px;
	height:16px;
}

div.b-portfolio-26 {
	position:absolute;
	left:778px;
	top:auto;
	width:24px;
	height:16px;
}

div.b-portfolio-27 {
	position:absolute;
	left:802px;
	top:auto;
	width:118px;
	height:16px;
}

div.b-portfolio-28 {
	position:absolute;
	left:920px;
	top:auto;
	width:20px;
	height:16px;
}

div.b-portfolio-29 {
	position:absolute;
	left:0px;
	top:16px;
	width:940px;
	height:7px;
}